.slider-container {
  --rgb-business-red: 0;
  --rgb-business-green: 160;
  --rgb-business-blue: 228;
  --rgb-improv-red: 88;
  --rgb-improv-green: 228;
  --rgb-improv-blue: 0;
  --color-business: rgb(var(--rgb-business-red), var(--rgb-business-green), var(--rgb-business-blue));
  --color-business-improv: rgb(
    calc((2 * var(--rgb-business-red) + 1 * var(--rgb-improv-red)) / 3),
    calc((2 * var(--rgb-business-green) + 1 * var(--rgb-improv-green)) / 3),
    calc((2 * var(--rgb-business-blue) + 1 * var(--rgb-improv-blue)) / 3)
    );
  --color-both: rgb(
    calc((1 * var(--rgb-business-red) + 1 * var(--rgb-improv-red)) / 2),
    calc((1 * var(--rgb-business-green) + 1 * var(--rgb-improv-green)) / 2),
    calc((1 * var(--rgb-business-blue) + 1 * var(--rgb-improv-blue)) / 2)
  );
  --color-improv-business: rgb(
    calc((1 * var(--rgb-business-red) + 2 * var(--rgb-improv-red)) / 3),
    calc((1 * var(--rgb-business-green) + 2 * var(--rgb-improv-green)) / 3),
    calc((1 * var(--rgb-business-blue) + 2 * var(--rgb-improv-blue)) / 3)
  );
  --color-improv: rgb(var(--rgb-improv-red), var(--rgb-improv-green), var(--rgb-improv-blue));
  --slider-gradient-at: 85%;
}

.slide:nth-child(1),
.slider__navlink:nth-child(1) {
  background-color: var(--color-business);
}
.slider__navlink:nth-child(1) {
  background: linear-gradient(90deg, var(--color-business) var(--slider-gradient-at), var(--color-business-improv) 100%);
}

.slide:nth-child(2),
.slider__navlink:nth-child(2) {
  background-color: var(--color-business-improv);
}
.slider__navlink:nth-child(2) {
  background: linear-gradient(90deg, var(--color-business-improv) 0%, var(--color-business-improv) var(--slider-gradient-at), var(--color-both) 100%);
}

.slide:nth-child(3),
.slider__navlink:nth-child(3) {
  background-color: var(--color-both);
}
.slider__navlink:nth-child(3) {
  background: linear-gradient(90deg, var(--color-both) 0%, var(--color-both) var(--slider-gradient-at), var(--color-improv-business) 100%);
}

.slide:nth-child(4),
.slider__navlink:nth-child(4) {
  background-color: var(--color-improv-business);
}
.slider__navlink:nth-child(4) {
  background: linear-gradient(90deg, var(--color-improv-business) 0%, var(--color-improv-business) var(--slider-gradient-at), var(--color-improv) 100%);
}

.slide:nth-child(5),
.slider__navlink:nth-child(5) {
  background-color: var(--color-improv);
}
