.trainer {
  width: 100%;
  max-width: 1200px;
  margin: 1em auto;
  font-size: 2em;
  text-align: justify;
}


.trainer img {
  float: left;
  width: 12em;
  margin-right: 16px;
  margin-bottom: 16px;
}